body {
    background-color: #fffbf7;
}

.encabezado {
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
}

.encabezado * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    height: 100%;
    line-height: 45px;
}

.logo {
    width: 15%;
}

.logo img {
    height: 100%;
}

.navegacion {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.navegacion li {
    margin-left: 25px;
    color: #025157;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
}

.actions * {
    margin-left: 10px;
    font-family: 'Slabo 27px', serif;
}

.actions a {
    color: #67b54b;
    text-decoration:none;
    margin-left: -30px;
    margin-right: 50px;
}

.actions button {
    color: white;
    background-color: #67b54b;
    width: 120px;
    height: 60px;
    border-radius: 5px;
}

.seccion1 {
    text-align: center;
    margin-top: 150px;
}

h1 {
    color:#025157;
    font-family: 'Alegreya', serif;
    font-size: 60px;
}

h2 {
    color: #46484c;
    font-size: 15px;
    font-family: 'Slabo 27px', serif;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 10px;
    border-width: 1px;
    padding: 10px;
    font-family: Helvetica;
    font-size: 18px;
    color: rgba(128, 128, 128, 0.685);
}

button {
    width: 170px;
    height: 45px;
    color:#fff;
    background-color: #025157;
    font-family: Helvetica;
    font-size: 18px;
    margin: -12px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

p {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    color: #8b8b8bcc;
}

#img2 {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    height: 60%;
}
