h1{
    color:#025157;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}

h2{
    color:#8b8b8bcc;
    font-size: 15px;
    text-align: center;
    font-family: 'Sansita Swashed', cursive;
}

button{
    color:#fff;
    background-color: #025157;
}

body{
    background-color: #fffbf7;
    font-family: Helvetica;
}
